<div id="section" ng-controller="feedCtrl">
    <div class="input-group form-group-lg">
        <input id="formGroupInputLarge" class="form-control" type="text" value="" placeholder="Text feed or URL feed" ng-model='newTask' />
        <span class="input-group-btn">
        <button type="submit" class="btn btn-danger btn-lg" ng-click='addNew()'>Submit</button>
            </span>
    </div>
    <!-- Todos list -->
    <div class="listofpost">
  <ul id="feedList">
        <li ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem" style="margin-bottom: 10px;">
            <div id="text">
          <img src="images/profile_default.jpg" id="userImage" align="center"/>
          <label id="feedValues">{{taskItem.description}}</label>
          <img src="images/delete.png" id="closeBtn" ng-model="taskItem.complete" ng-click="deleteTask($index)"/>
                </div>
      </li>

      </ul>
</div>
</div>
